* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.5em;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  // font-weight: lighter;
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-top: 50px;
  /* equal to footer height */
  margin-bottom: -250px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 250px;
}

.center {
  margin: auto;
}

.left, .right {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.box {
  border: 4px solid;
  font-size: inherit;
  padding: 0 15px;
  max-width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.border-right-active {
  border-right-color: green;
}
.border-bottom-active {
  border-bottom-color: green;
}
.border-left-active {
  border-left-color: green;
}

.button {
  background-color: DodgerBlue;
  color: white;
  text-decoration: initial;
  font-size: inherit;
  display: inline-block;
  width: 250px;
  height: 100px;
  line-height: 100px;
  border: none;
  border-radius: 15px;
}

.button-text {
  line-height: initial;
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

.font-size__small {
  font-size: small;
}

.font-size__large {
  font-size: 200%;
}

.font-size__extra-large {
  font-size: 250%;
}

.link {
  text-color: black;
}
