{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'motivation/style.css' %}" />

{# http://stackoverflow.com/a/25029149 #}
<form action="{% url 'motivation:instructions' %}" method="post">
  {% csrf_token %}
  <div class="page-wrap">
    <p>Thank you for wanting to participate in this experience!</p>
    <br>
    <p>Copy-paste your MTurk identifier here. It allows us to pay you the correct amount in the end:</p>
    <input id="mturk" type="text" name="mturk" class="box font-size__large" value="{{ mturk }}" required>
  </div>
  <div class="site-footer">
    <input type="submit" value="Continue" class="button"/>
  </div>
</form>

