{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'motivation/style.css' %}" />

<h1>Osallistu tieteelliseen tutkimukseen</h1>

<p>Arvoisa vastaaja!</p>

<p>
    Tämä koe pyrkii selvittämään ihmisen motivaatiota ja hyvinvointia erilaisten työtehtävien aikana.
    Tehtävässä sinulle maksetaan pieni summa rahaa kahvan pyörittämisestä: 1 sentti joka 4. sekunti,
    joka tuntipalkaksi muutettuna tarkoittaa 9 € / tunti. Voit pyörittää kahvaa haluamasi ajan.
    Maksimissaan viisitoista minuuttia, mutta voit lopettaa koska vain aiemminkin.
    Lopetettuasi kahvan pyörittämisen,
    pyydämme sinua vastaamaan kolmeen kysymykseen koskien senhetkistä
    tuntemuksiasi.
    Sen jälkeen tutkija maksaa sinulle keräämäsi rahasumman.
</p>

<p>
    Tutkimus on osa sisäisen motivaation osatekijöitä
    ja psykologisia perustarpeita kartoittavaa tutkimusprojektia.
    Vastaavana tutkijana toimii Frank Martela Helsingin yliopistolta.
    <br>
    frank.martela@helsinki.fi
    <br>
    050-5707916
</p>

<h2>Hyvä tietää ennen tutkimukseen osallistumista</h2>

</ul>
    <li>
        Tutkimukseen osallistuminen on vapaaehtoista.
    </li>
    <li>
        Osallistujilla on oikeus kysyä lisätietoja tutkimuksesta ja keskeyttää osallistuminen tutkimukseen milloin tahansa seuraamuksitta ja syytä ilmoittamatta.
    </li>
    <li>
        Vastauksia käsitellään ehdottoman luotettavasti: Emme kerää mitään sellaista tietoa osallistujista, joista heidät voisi tunnistaa.
    </li>
    <li>
        Tutkimuksessa kerättyjä tietoja hyödynnetään tieteellisissä julkaisuissa.
    </li>
</ul>

<a href="{% url 'motivation:background-questions' %}">Haluan osallistua tutkimukseen</a>

{% if latest_question_list %}
    <ul>
	{% for question in latest_question_list %}
        <li><a href="{% url 'motivation:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No motivations are available.</p>
{% endif %}
